/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilos para las secciones */
section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

/* Estilos para las tablas de noticias */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los elementos multimedia */
iframe, audio {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}


body {
    background-color: #f8f9fa; /* Color de fondo claro */
    color: #333; /* Color de texto oscuro */
}

.table {
    background-color: #fff; /* Color de fondo blanco para tablas */
}

.footer {
    background-color: #343a40; /* Color de fondo oscuro para el pie de página */
    color: #fff; /* Color de texto claro para el pie de página */
}
